<div class="page mt-2 container-fluid default-text-color text-center hide" id="ProfileApp">
    <div class="row align-items-start">
        <div class="col-3">
        </div>
        <div class="col-6">
            <ion-icon class="image" name="person-circle-outline"></ion-icon>
        </div>
        <div class="col-3"  name="profile-change-button">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col align-self-center default-text-color" name="profile-full-name">
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col text-left default-text-hint-color">
            Статус
        </div>
    </div>
    <div class="row justify-content-center pl-2 pr-2">

        <div class="col-3 p-1">
            <button type="button" class="btn default-widget default-link-color">
                <ion-icon class="social-link mb-1" name="paper-plane-outline"></ion-icon>
                <p>Telegram</p>
            </button>
        </div>
        <div class="col-3 p-1">
            <button type="button" class="btn default-widget default-link-color">
                <ion-icon class="social-link mb-1" name="logo-instagram"></ion-icon>
                <p>Instagram</p>
            </button>
        </div>
        <div class="col-3 p-1">
            <button type="button" class="btn default-widget default-link-color">
                <ion-icon class="social-link mb-1" name="logo-whatsapp"></ion-icon>
                <p>Whatsapp</p>
            </button>
        </div>
        <div class="col-3 p-1">
            <button type="button" class="btn default-widget default-link-color">
                <ion-icon class="social-link mb-1" name="logo-vk"></ion-icon>
                <p>Vk</p>
            </button>
        </div>
    </div>

    <div class="row justify-content-start mt-1 pl-2 pr-2">

        <div class="col-12 p-1">
            <div class="default-widget p-3 text-left default-text-color rounded-1">
                <div class="col-12">
                    <p class="text-sm-start ml-2 mb-0 default-text-color">Направления</p>
                    <div class="container ml-0 mr-0">
                        <div class="row small">
<span class="col-auto m-1 p-1 default-bg-text-link default-text-bg-color badge pointer">Тип 1</span>
<span class="col-auto m-1 p-1 default-bg-text-link default-text-bg-color badge pointer">Тип первый</span>
<span class="col-auto m-1 p-1 default-bg-text-link default-text-bg-color badge pointer">Второй тип</span>
<span class="col-auto m-1 p-1 default-bg-text-link default-text-bg-color badge pointer">А это тип три</span>
<span class="col-auto m-1 p-1 default-bg-text-link default-text-bg-color badge pointer">Вот тип номер 4</span>
<span class="col-auto m-1 p-1 default-bg-text-link default-text-bg-color badge pointer">New</span>
                        </div>
                    </div>
                </div>
                <hr class="mt-2 mb-2">
                <div class="col-12">
                <p class="ml-2 mb-0 default-text-color">Имя пользователя</p>
                <p class="ml-2 mb-0 default-link-color pointer" name="profile-username"></p>
                </div>
            </div>
        </div>
    </div>


</div>