<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
    <link rel="stylesheet" href="{% static "front/bootstrap-5/css/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "front/css/base.css" %}">
    <link rel="stylesheet" href="{% static "front/css/nav.css" %}">
    <link rel="stylesheet" href="{% static "front/css/profile.css" %}">
    <link rel="stylesheet" href="{% static "front/css/calendar.css" %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>


        <title>Responsive bottom navigation</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list p-0 m-0" id="nav-list">


                    </ul>
                </div>

            </nav>
        </header>

        <main id="main">
            {% include "front/pages/home.html" %}
            {% include "front/pages/calendar.html" %}
            {% include "front/pages/profile.html" %}
            {% include "front/pages/community.html" %}
        </main>


<script>
    let user;
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="module" src="{% static "front/js/main.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


    </body>
</html>